<nav class="navbar sticky-top navbar-expand-lg app-background-escuro-2">
    <div class="container">
      <a class="navbar-brand fw-semibold" href="#">Paulo Sergio Padilha</a>

      <button
            (click)="colpsarNavbar = !colpsarNavbar"
            class="navbar-toggler"
            type="button"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{ show : colpsarNavbar }">
        <div class="navbar-nav ms-auto">
            <a *ngFor="let link of linksNavbar" class="nav-link active" aria-current="page" [href]="link.href">{{ link.texto }}</a>
        </div>
      </div>
    </div>
</nav>