<section class="app-background-escuro d-flex justify-content-center align-items-center py-5" id="portfolio">
    <div class="container">
        <h2 class="display-5 fw-bold text-center">Portfólio</h2>

        <div class="row flex-wrap justify-content-center g-3 mt-5">
            <div class="col-auto">
                <img
                    class="img-fluid rounded-4"    
                    src=""
                    alt=""
                >
            </div>

            <div class="col-auto">
                <a target="_blank" href="">
                    <img
                        class="img-fluid rounded-4"
                        src=""
                        alt=""
                    >
                </a>
            </div>
        </div>
    </div>
</section>