<section class="app-background-escuro-2 d-flex justify-content-center align-items-center" id="sobre">
    <div class="container">
        <div class="d-flex justify-content-center">
            <img
                class="img-fluid rounded-pill"
                style="width:350px; height:350px;"
                src="assets/Paulo.jpg"
                alt="Foto Paulo"
            >
        </div>

        <h2 class="display-5 text-center mt-5">Um pouco sobre mim</h2>

        <div class="row flex-wrap mt-5">
            <div class="col-lg-8">
                <h3 class="fs-3">
                    Meu nome é <span class="app-texto-principal fw-semibold">Paulo Sergio Padilha</span>, sou desenvolvedor Full-Stack
                </h3>
                <p class="fs-5 mt-3">
                    Estou iniciando no desenvolvimento Full-Stack, trabalhei
                    com projetos de média complexidade e diferentes regras de
                    negócio, utilizando as tecnologias
                    <span class="app-texto-principal fw-semibold">Plataforma .NET </span>e
                    <span class="app-texto-principal fw-semibold">Angular</span>.
                </p>
                <p class="fs-5 mt-3">
                    No momento estou atuando no desenvolvimento e manutenção de sistemas
                    robustos e complexidade média como desenvolvedor freelancer.
                </p>
            </div>
            <div class="col-lg">
                <ul class="list-group">
                    <li class="list-group-item py-3 app-background-principal">
                        <strong>Nome: </strong>Paulo Sergio Padilha
                    </li>

                    <li class="list-group-item py-3 app-background-secundario">
                        <strong>Email: </strong>
                        <a href="mailto:psergiopadilha@gmail.com">psergiopadilha&#64;gmail.com</a>
                    </li>

                    <li class="list-group-item py-3 app-background-principal">
                        <strong>Idade: </strong>43 anos
                    </li>

                    <li class="list-group-item py-3 app-background-secundario">
                        <strong>De: </strong>Bom Retiro, Santa Catarina
                    </li>
                </ul>

                <div class="d-flex justify-content-center align-items-center gap-5 mt-3">
                    <a
                        class="text-light"
                        href="https://github.com/psergioPadilha"
                        target="_blank"    
                    >
                        <i class="bi bi-github fs-1"></i>
                    </a>

                    <a
                        class="text-blue"
                        href="https://www.linkedin.com/in/paulo-sergio-padilha-111965183/"
                        target="_blank"    
                    >
                        <i class="bi bi-linkedin fs-1"></i>
                    </a>

                    <a
                        class="text-light"
                        href="http://api.whatsapp.com/send?phone=554998064801&text&type=phone_number&app_absent=0"
                        target="_blank"    
                    >
                        <i class="bi bi-whatsapp fs-1"></i>
                    </a>

                    
                    <a
                        class="btn btn-lg app-background-principal app-hover-secundario ronded-5 px-md-5 fw-semibold"
                        target="_blank"
                        href="http://api.whatsapp.com/send?phone=554998064801&text&type=phone_number&app_absent=0"
                    >
                        Contato WhatsApp
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>