<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand fw-semibold" href="#">Paulo Sergio Padilha</a>

      <button
            (click)="colpsarNavbar = !colpsarNavbar"
            class="navbar-toggler"
            type="button"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{ show : colpsarNavbar }">
        <div class="navbar-nav ms-auto">
          <div class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Ínicio</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="mt-5 md-3" id="sobre">
    <div class="container">
        <div>
            <img
                class="img-fluid rounded-pill"
                src="/Paulo.jpg"
                alt="Foto Paulo"
            >
        </div>

        <h2 class="display-5 text-center mt-5">Um pouco sobre mim</h2>

        <div class="row flex-wrap mt-5">
            <div class="col-lg">
                <h3 class="fs-3">
                    Meu nome é Paulo Sergio Padilha, sou desenvolvedor Full-Stack
                </h3>
                <p class="fs-5 mt-3">
                    Estou iniciando no desenvolvimento Full-Stack, trabalhei
                    com projetos de média complexidade e diferentes regras de
                    negócio, utilizando as tecnologias
                    <span class="app-texto-principal fw-semibold">Plataforma .NET </span>e
                    <span class="app-texto-principal fw-semibold">Angular</span>.
                </p>
                <p class="fs-5 mt-3">
                    No momento estou atuando no desenvolvimento e manutenção de sistemas
                    robustos e complexidade média como desenvolvedor freelancer.
                </p>
            </div>
            <div class="col-lg">
                <ul class="list-group">
                    <li class="list-group-item py-3">
                        <strong>Nome: </strong>Paulo Sergio Padilha
                    </li>

                    <li class="list-group-item py-3">
                        <strong>Email: </strong>
                        <a href="mailto:psergiopadilha@gmail.com">psergiopadilha&#64;gmail.com</a>
                    </li>

                    <li class="list-group-item py-3">
                        <strong>Idade: </strong>43 anos
                    </li>

                    <li class="list-group-item py-3">
                        <strong>De: </strong>Bom Retiro, Santa Catarina
                    </li>
                </ul>

                <div class="d-flex justify-content-center align-items-center gap-5 mt-3">
                    <a
                        class="text-light"
                        href="https://github.com/psergioPadilha"
                        target="_blank"    
                    >
                        <i class="bi bi-github fs-1"></i>
                    </a>

                    <a
                        class="text-blue"
                        href="https://www.linkedin.com/in/paulo-sergio-padilha-111965183/"
                        target="_blank"    
                    >
                        <i class="bi bi-linkedin fs-1"></i>
                    </a>

                    <a
                        class="text-light"
                        href="http://api.whatsapp.com/send?phone=554998064801&text&type=phone_number&app_absent=0"
                        target="_blank"    
                    >
                        <i class="bi bi-whatsapp fs-1"></i>
                    </a>

                    <!-- 
                    <a
                        class="btn btn-lg btn-warning ronded-5  px-5 fw-semibold"
                        href="http://api.whatsapp.com/send?phone=554998064801&text&type=phone_number&app_absent=0"
                    >
                        Contato WhatsApp
                    </a> -->
                </div>

            </div>
        </div>

    </div>

  </section>

  <section id="habilidades">
    <div class="container">

        <h2 class="display-5 fw-semibold text-center">Minhas habilidades</h2>

        <div class="row row-cols-1 g-3 mt-2">
            <div class="d-flex align-items-center gap-4">
                <i class="bi bi-window-fullscreen fs-1"></i>
            </div>

            <div class="d-flex flex-column">
                <label class="fs-4 fw-semibold">Web Design</label>
                <small class="fs-5">
                    Design e desenvolvimento de sistemas WEB atraentes e responsivos.
                </small>
            </div>

        </div>

        <div class="row row-cols-1 g-3 mt-2">
            <div class="d-flex align-items-center gap-4">
                <i class="bi bi-server fs-1"></i>
            </div>
            <div class="d-flex flex-column">
                <label class="fs-4 fw-semibold">Aplicação Back-End</label>
                <small class="fs-5">
                    Desenvolvimento de sistemas robustos para solucionar problemas simples e complexos.
                </small>
            </div>
        </div>

        <div class="row row-cols-1 g-3 mt-2">
            <div class="d-flex align-items-center gap-4">
                <i class="bi bi-graph-up fs-1"></i>
            </div>
            <div class="d-flex flex-column">
                <label class="fs-4 fw-semibold">Testes Automatizados</label>
                <small class="fs-5">
                    Criação de testes automatizados que facilitam a manutenção e melhoram as entregas das aplicações.
                </small>
            </div>
        </div>

        <div class="row row-cols-1 g-3 mt-2">
            <div class="d-flex align-items-center gap-4">
                <i class="bi bi-wrench fs-1"></i>
            </div>
            <div class="d-flex flex-column">
                <label class="fs-4 fw-semibold">Engenharia de Software</label>
                <small class="fs-5">
                    Planejamento e execução de sistemas multicamadas, integração de várias tecnologias de forma organizada e escalável.
                </small>
            </div>
        </div>

        <div class="row row-cols-1 g-3 mt-2">
            <div class="d-flex align-items-center gap-4">
                <i class="bi bi-people fs-1"></i>
            </div>
            <div class="d-flex flex-column">
                <label class="fs-4 fw-semibold">Liderança</label>
                <small class="fs-5">
                    Habilidade de liderar e tomar decisões técnicas em projetos em equipe.
                </small>
            </div>
        </div>

        <div class="row row-cols-1 g-3 mt-2">
            <div class="d-flex align-items-center gap-4">
                <i class="bi bi-building-up fs-1"></i>
            </div>
            <div class="d-flex flex-column">
                <label class="fs-4 fw-semibold">Implantação</label>
                <small class="fs-5">
                    Implantação e manutenção de sistemas em servidores VPS e em nuvem.
                </small>
            </div>
        </div>

    </div>
  </section>

  <!-- <section id="stack"></section> -->

  <!-- <section id="experiencias"></section> -->

  <!-- <section id="portfolio"></section> -->

  <section id="footer">
    <footer class="text-bg-warning py-2">
        <div class="container">
            <p class="text-center mb-0">
                Copyraght ₢ 2024 <span class="fw-semibold">Paulo Sergio Padilha</span>. Todos os direitos reservados.
            </p>
        </div>
    </footer>
  </section>