<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand fw-semibold" href="#">Paulo Sergio Padilha</a>

      <button
            (click)="colpsarNavbar = !colpsarNavbar"
            class="navbar-toggler"
            type="button"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{ show : colpsarNavbar }">
        <div class="navbar-nav ms-auto">
          <div class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Ínicio</a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section class="mt-5" id="sobre">
    <div class="container">
        <div>
            <img
                class="img-fluid rounded-pill"
                src="/Paulo.jpg"
                alt="Foto Paulo"
            >
        </div>

        <h2 class="display-5 text-center mt-5">Um pouco sobre mim</h2>

        <div class="row flex-wrap mt-5">
            <div class="col-lg">
                <h3 class="fs-3">
                    Meu nome é Paulo Sergio Padilha, sou desenvolvedor Full-Stack
                </h3>
                <p class="fs-5 mt-3">
                    Estou iniciando no desenvolvimento Full-Stack, trabalhei
                    com projetos de média complexidade e diferentes regras de
                    negócio, utilizando as tecnologias
                    <span class="app-texto-principal fw-semibold">Plataforma .NET </span>e
                    <span class="app-texto-principal fw-semibold">Angular</span>.
                </p>
                <p class="fs-5 mt-3">
                    No momento estou atuando no desenvolvimento e manutenção de sistemas
                    robustos e complexidade média como desenvolvedor freelancer.
                </p>
            </div>
            <div class="col-lg">
                <ul class="list-group">
                    <li class="list-group-item py-3">
                        <strong>Nome: </strong>Paulo Sergio Padilha
                    </li>

                    <li class="list-group-item py-3">
                        <strong>Email: </strong>
                        <a href="mailto:psergiopadilha@gmail.com">psergiopadilha&#64;gmail.com</a>
                    </li>

                    <li class="list-group-item py-3">
                        <strong>Idade: </strong>43 anos
                    </li>

                    <li class="list-group-item py-3">
                        <strong>De: </strong>Bom Retiro, Santa Catarina
                    </li>
                </ul>

                <div class="d-flex justify-content-center align-items-center gap-5 mt-3">
                    <a
                        class="text-light"
                        href="https://github.com/psergioPadilha"
                        target="_blank"    
                    >
                        <i class="bi bi-github fs-1"></i>
                    </a>

                    <a
                        class="text-blue"
                        href="https://www.linkedin.com/in/paulo-sergio-padilha-111965183/"
                        target="_blank"    
                    >
                        <i class="bi bi-linkedin fs-1"></i>
                    </a>

                    <a
                        class="text-light"
                        href="http://api.whatsapp.com/send?phone=554998064801&text&type=phone_number&app_absent=0"
                        target="_blank"    
                    >
                        <i class="bi bi-whatsapp fs-1"></i>
                    </a>

                    <!-- <a class="btn btn-lg btn-warning ronded-5  px-5 fw-semibold" href="">
                        Contato WhatsApp
                    </a> -->
                </div>

            </div>
        </div>

    </div>
  </section>